/* static/main/profile.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #292b2c;
    color: #fff;
}


header {
    background-color: #222;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
    display: inline-block;
    font-weight: bold;
}

h1 {
    margin: 0;
    display: inline-block;
    font-weight: bold;
}

h1 a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 40px;
    border-radius: 50%;
}

h2 {
    margin: 5px;
}

p {
    margin-top: 20px;
    font-size: 18px;
}

.user-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-top: 10px;
}

.name {
    margin-bottom: 6px
}


.nav-btn,
.logout-btn,
.login-btn {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.nav-btn {
    background-color: #5bc0de;
    color: #fff;
    margin-right: 10px;
}

.logout-btn {
    background-color: #d9534f;
    color: #fff;
}

.login-btn {
    background-color: #5bc0de;
    color: #fff;
}

.table-container {
    margin-top: 20px;
    border: 2px solid #5bc0de;
    border-radius: 5px;
    padding: 10px;
    overflow: hidden;
    width: 80%;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

thead {
    background-color: #37474f;
}

th, td {
    padding: 10px;
    border: 1px solid #607d8b;
}

.button-container {
    margin-top: 20px;
}

.show-form-btn {
    padding: 10px;
    background-color: #5cb85c;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

#addSiteForm {
    display: none;
    margin-top: 20px;
}

.add-site-form {
    display: flex;
    flex-direction: column;
}

.add-site-form label {
    margin-bottom: 10px;
}

.add-site-form input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.add-site-form button {
    padding: 10px;
    background-color: #5bc0de;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.add-site-btn {
    margin-top: 10px;
    padding: 10px;
    background-color: #5bc0de;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    float: left;
    clear: both;
}

.user-info-container {
    border: 2px solid #5bc0de;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.user-info p {
    margin: 10px 0;
}

#addSiteForm {
    display: none;
    margin-top: 20px;
    padding: 20px;
    border: 2px solid #5bc0de;
    border-radius: 5px;
    width: 60%;
}

#addSiteForm label {
    display: block;
    margin-bottom: 10px;
}

#addSiteForm input {
    width: calc(80% - 10px);
    padding: 10px;
    margin-bottom: 10px;
}

#addSiteForm button {
    padding: 10px;
    background-color: #5bc0de;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    float: right;
}

.additional-info {
    border: 2px solid #5bc0de;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    margin-left: 4%;
    width: 25%;
    float: right;
    box-sizing: border-box;
}

.container {
    display: flex;
}
